{% load static %}
<!--<html>

<head>
    <!--
        <script src="{% static 'speech/recorder.js' %}"></script>
        <script src="{% static 'speech/main.js' %}"></script>
    
</head>


<body>

    <h1>zvok</h1>
    <br>
    <form id="forma" action="{% url 'output' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <button type = "button" class="btn btn-default"  id='gUMbtn'>Request Stream</button>
            <button id="start" type="button" class="btn btn-default">record</button>
            <button id="stop" type="button" class="btn btn-default">stop</button>   
            <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="{% static 'speech/script.js' %}"></script>
        </div>
        <br>
        <input id="audio" name="audio" type="file" accept="audio/*" capture>
        <br>
        <input type="submit">
    </form>
    <ul class="list-unstyled" id="ul">
    </ul>
</body>

</html>
-->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Audio Recorder</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="{% static 'speech/audiodisplay.js' %}"></script>
	<script src="{% static 'speech/recorder.js' %}"></script>
	<script src="{% static 'speech/main.js' %}"></script>
</head>
<body>
        <form id="forma" action="{% url 'output' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
	<div id="controls">
		<button type="button" id="record" onclick="toggleRecording(this);">start</button>
		<a id="save" href="#">end</a>
    </div>
    </form>
</body>
</html>